---
BasedOnStyle: LLVM

AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left

AllowShortIfStatementsOnASingleLine: false

BreakBeforeBraces: Linux

ColumnLimit: 80
ContinuationIndentWidth: 8

IndentCaseLabels: false
IndentGotoLabels: true
IndentWidth: 8

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

PointerAlignment: Right

TabWidth: 8
UseCRLF: false
UseTab: Always

TypenameMacros: [
  "must_slist",
  "must_slist_node"
]
...
